@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.woff?8q1ja6') format('woff'),
  url('fonts/icomoon.svg?8q1ja6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter-with-circle:before {
  content: "\e903";
}
.icon-facebook-with-circle:before {
  content: "\e904";
}
.icon-github-square:before {
  content: "\e905";
}
.icon-envelope:before {
  content: "\e902";
}
.icon-briefcase:before {
  content: "\e901";
}
.icon-rocket:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e942";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-skype:before {
  content: "\73";
}

@font-face {
  font-family: 'FiraSans-Bold';
  src: url('./fonts/firasans-bold-webfont.woff') format('woff'),
       url('./fonts/firasans-bold-webfont.svg#fira_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans-Light';
  src: url('./fonts/firasans-light-webfont.woff') format('woff'),
       url('./fonts/firasans-light-webfont.svg#fira_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sansmedium';
  src: url('./fonts/firasans-medium-webfont.woff') format('woff'),
       url('./fonts/firasans-medium-webfont.svg#fira_sansmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./fonts/firasans-regular-webfont.woff') format('woff'),
       url('./fonts/firasans-regular-webfont.svg#fira_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  font-size: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  list-style-type: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

.wrapper {
  min-height: 100%;
}

wrapper::after {
  content: "";
  height: 50px;
}

.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

header {
  height: 80px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  background-color: #ffffff;
}

footer {
  height: 50px;
  margin-top: -50px;
  background-color: #414141;
}

.copyright {
  display: inline-block;
  height: inherit;
}

.copyright__text {
  font-size: 14px;
  line-height: 50px;
  color: rgb(156,156,156);
  font-family: "FiraSans-Light";
}

.socials {
  display: inline-block;
  position: absolute;
  right: 0;
}

.social__element {
  display: inline-block;
  margin-left: 10px;
  line-height: 50px;
}

.social__link {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  vertical-align: middle;
  line-height: 30px;
  text-align: center;
}

.social__icon {
  font-size: 30px;
  color: #9c9c9c;
}

.fb:hover {
  color: #4363a6;
}
.tw:hover {
  color: #6ac3d9;
}
.git:hover {
  color: #fff;
}

.user {
  width: 300px;
  height: 235px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -117px 0 0 -150px;
}

.user-logo {
  display: inline-block;
  height: inherit;
  vertical-align: top;
}

.user-info {
  width: inherit;
  height: 155px;
}

.user__pic {
  display: block;
  width: 140px;
  height: 140px;
  border-radius: 70px;
  background-color: #f6f6f6;
  border: 1px solid #d6d6d6;
  margin: 0 auto;
  position: relative;
  top: -70px;
}

.user__pic_logo {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  top: 0;
  vertical-align: middle;
}

.user-name {
  height: 85px;
  width: inherit;
  margin-top: -70px;
  vertical-align: middle;
  text-align: center;
}

.user-name_logo {
  display: inline-block;
  height: 80px;
  margin-top: 0;
}

.user-name__name {
  display: inline-block;
  font-size: 21px;
  line-height: 28px;
  color: rgb(65,65,65);
  font-family: "OpenSans-Semibold";
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.user-name__name_logo {
  font-size: 18px;
  margin-left: 10px;
  line-height: 80px;
}

.user-link {
  width: 300px;
  height: 80px;
  background-color: #33c1e3;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  position: relative;
}

.user-link__element {
  width: 138px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -69px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 40px;
  color: rgb(255,255,255);
  font-family: "FiraSans-Bold";
  font-weight: bold;
  text-align: center;
}

.user-link__element:hover {
  background-color: #fff;
  color: #33c1e3;
}

.contacts {
  display: inline-block;
  height: inherit;
  position: absolute;
  right: 0;
  line-height: 80px;
  text-align: right;
  cursor: pointer;
}

.contacts__text {
  display: inline-block;
  font-size: 18px;
  height: 35px;
  line-height: 35px;
  color: rgb(50,195,229);
  font-family: "FiraSans-Bold";
  font-weight: bold;
  border-bottom: 1px dotted rgb(50,195,229);
  text-transform: capitalize;
  vertical-align: middle;
}

.contacts:hover .contacts__text {
  color: #e75f61;
  border-color: #e75f61;
}

.contacts:hover .contacts__list {
  display: block;
}

.contacts__list {
  display: none;
  position: relative;
  left: 75px;
  top: -10px;
  background-color: #fff;
  width: 215px;
  border-radius: 10px;
  border: 1px solid #ddd;
  z-index: 1;
  text-align: left;
  cursor: default;
}

.contacts__list::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 102px;
  height: 11px;
  width: 11px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  transform: rotate(45deg);
  background: #fff;
}

.contacts__elem {
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #eee;
}

.contacts__elem:last-child {
  border: none;
}

.contacts__elem-icon {
  display: inline-block;
  margin-left: 10px;
  font-size: 15px;
  color: rgb(50,195,229);
  vertical-align: middle;
}

.contacts__elem-text {
  display: inline-block;
  margin-left: 10px;
  font-size: 13px;
  color: rgb(65,65,65);
  font-family: "Fira Sans";
  vertical-align: middle;
}

.content {
  margin-top: 25px;
}

.sidebar {
  display: inline-block;
  width: 220px;
  vertical-align: top;
}

.navigation__elem {
  width: 220px;
  height: 45px;
  border-right: 6px solid transparent;
  text-align: right;
  padding-right: 25px;
  color: rgb(65,65,65);
  margin-left: -500px;
  transition: 1s;
  box-sizing: border-box;
}

.navigation__elem_active {
  color: #4db1cd;
  border-right-color: #4db1cd;
}

.navigation__link {
  height: 45px;
  width: 100%;
  font-size: 18px;
  font-family: "Fira Sans";
  line-height: 45px;
  cursor: pointer;
}

.navigation__icon {
  font-size: 18px;
  line-height: 45px;
}

.navigation__link-text {
  font-size: 18px;
  font-family: "Fira Sans";
  line-height: 45px;
  margin-left: 5px;
}

.main-content {
  display: inline-block;
  vertical-align: top;
  width: 720px;
}

.user-img {
  display: inline-block;
  vertical-align: top;
  width: 340px;
}

.user-img__photo {
  display: block;
  width: 220px;
  height: 220px;
  border-radius: 110px;
  background-color: #f5f5f5;
  border: 5px solid #ffffff;
  margin: 0 auto;
}

.user-about {
  display: inline-block;
  vertical-align: top;
  width: 380px;
}

.content__header {
  height: 45px;
  font-size: 35px;
  line-height: 45px;
  color: rgb(65,65,65);
  font-family: "Fira Sans";
}

.user-about__text {
  margin-top: 25px;
  height: 300px;
  font-size: 18px;
  line-height: 26px;
  color: rgb(100,100,100);
  font-family: "Fira Sans";
  overflow: auto;
}

.user-about__download-link {
  display: inline-block;
  width: 173px;
  height: 40px;
  border-radius: 20px;
  background-color: #f6f6f6;
  border: 2px solid #e75f61;
  font-size: 14px;
  line-height: 40px;
  color: rgb(232,95,97);
  font-family: "Open Sans";
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.user-about__download-link:hover {
  background-color: #e75f61;
  color: #f6f6f6;
}

.download {
  text-align: right;
  margin-top: 50px;
  margin-bottom: 100px;
}

.content-wrap {
  margin-left: 20px;
}

.content-wrap-internal {
  margin-top: 25px;
  margin-bottom: 100px;
}

.career-image {
  display: inline-block;
  width: 220px;
  height: 220px;
  border-radius: 9px;
  background-color: #595959;
  vertical-align: top;
  background-image: url("./images/pravda.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.career-path {
  display: inline-block;
  vertical-align: top;
  width: 380px;
  margin-left: 100px;
}

.career-path__element {
  position: relative;
  width: 380px;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  background-color: #ffffff;
  margin-bottom: 20px;
  min-height: 120px;
}

.career-path__company-name {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 21px;
  color: rgb(90,90,90);
  font-family: "Fira Sans";
}

.career-path__post {
  position: absolute;
  top: 50px;
  left: 20px;
  font-size: 18px;
  color: rgb(100,100,100);
  font-family: "Fira Sans";
}

.career-path__time {
  position: absolute;
  top: 80px;
  left: 20px;
  font-size: 18px;
  color: rgb(100,100,100);
  font-family: "Fira Sans";
}

.portfolio-tile {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 210px;
  height: 280px;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
}

.portfolio-tile__image {
  width: inherit;
  height: 170px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-sistar {
  background-image: url("./images/sistar.jpg");
}

.image-ad {
  background-image: url("./images/ad.jpg");
}

.portfolio-tile__name {
  position: absolute;
  left: 20px;
  bottom: 75px;
  font-size: 21px;
  color: rgb(51,193,227);
  font-family: "Fira Sans";
}

.portfolio-tile__about {
  position: absolute;
  left: 20px;
  bottom: 50px;
  font-size: 14px;
  color: rgb(65,65,65);
  font-family: "Fira Sans";
}

.portfolio-tile__type {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 18px;
  color: rgb(174,174,174);
  font-family: "Font Awesome";
}