.career-image {
  @include inline-block();
  width: rem(220px);
  height: rem(220px);
  border-radius: rem(9px);
  background-color: rgb(90,90,90);
  background-image: url("../images/pravda.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: rem(20px);
}

.career-path {
  @include inline-block();
  width: rem(380px);
}

.career-path__element {
  width: rem(380px);
  border-radius: rem(10px);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  background-color: #fff;
  margin-bottom: rem(20px);
  cursor: pointer;
  padding: 20px;
  transition: .5s;

  & * { transition: .5s; }

  &:hover {
    background-color: $blue;

    * { color: #fff; }
  }
}

.career-path__company-name {
  font-size: rem(21px);
  color: rgb(90,90,90);
  font-family: "Fira Sans";
}

.career-path__post {
  font-size: rem(18px);
  color: rgb(114,114,114);
  font-family: "FiraSans-Light";
}

.career-path__time {
  font-size: rem(18px);
  color: rgb(114,114,114);
  font-family: "FiraSans-Light";
}