.main-content {
  @include inline-block();
  width: 77%;

  @include tablet {
    display: block;
    width: auto;
  }
}

.content__header {
  height: rem(45px);
  font-size: rem(35px);
  line-height: rem(45px);
  color: $grey;
  font-family: "Fira Sans";

  @include phone {
    text-align: center;
  }
}

.content__header_margin {
  margin-left: rem(20px);
  margin-bottom: rem(20px);

  @include phone {
    margin-left: 0;
  }
}

.content-info {
  position: relative;
  text-align: justify;

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
  }
}