.main-content {
  @include inline-block();
  width: rem(720px);
}

.content__header {
  height: rem(45px);
  font-size: rem(35px);
  line-height: rem(45px);
  color: $grey;
  font-family: "Fira Sans";
}

.content__header_margin {
  margin-left: 20px;
  margin-bottom: 20px;
}

.content-info {
  position: relative;
  text-align: justify;

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
  }
}