.portfolio-list {
  text-align: left;
}

.portfolio-tile {
  @include inline-block();
  width: 31.1%;
  margin-left: 2.2%;
  margin-bottom: rem(20px);
  border-radius: rem(10px);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  overflow: hidden;

  @include phone {
    width: 100%;
    margin-left: 0;
  }
}

.portfolio-tile__link {
  display: block;
  width: 100%;
  background-color: #fff;
  position: relative;
  padding-bottom: 20px;

  &:hover .portfolio-tile__name{
    color: $red;
  }
}

.portfolio-tile__image {
  width: 100%;
  height: rem(170px);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-sistar {
  background-image: url("../images/sistar.jpg");
}

.image-samsung {
  background-image: url("../images/samsung.jpg");
}

.portfolio-tile__name {
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: rem(21px);
  color: $blue;
  font-family: "Fira Sans";
}

.portfolio-tile__about {
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: rem(14px);
  color: $grey;
  font-family: "FiraSans-Light";
}

.portfolio-tile__type {
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: rem(14px);
  color: rgb(174,174,174);
  font-family: "FiraSans-Bold";
}