//adaptive breakpoints
@mixin laptop {
  @media screen and (max-width: 960px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 480px) {
    @content;
  }
}

//responsive
@function rem($px) {
  @return $px / $html-font-size + 0rem;
}

@mixin inline-block ($valign: top) {
  display: inline-block;
  vertical-align: $valign;
}

@mixin block-hor-center() {
  margin: 0 auto;
  display: block;
}

@mixin transition ($transition) {
  transition: $transition;
  -o-transition: $transition;
  -moz-transition: $transition;
  -webkit-transition: $transition;
  -ms-transition: $transition;
}

@mixin center-center() {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

@mixin center-before($width) {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  min-width: rem($width + 10px);

  &::before {
    content: "";
    height: 100%;
    @include inline-block(middle);
  }
}

@mixin round($size) {
  width: $size;
  height: $size;
  border-radius: $size / 2;
}